<!-- VIEW ALL TASKS MODAL -->
<div class="modal fade" id="view-tasks-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">All Tasks</h4>
      </div>
      <div class="modal-body">

        <ul class="list-group clearfix">
            <% @tasks.each do |task| %>
              <li class="list-group-item clearfix">
                <% unless !task.is_high_priority == true %>
                  <span style="background-color:#d9534f;" class="important badge pull-left">!</span>
                <% end %>
                <%= link_to task_path(task.id), data: {confirm: "'" + task.text + "'" + " is complete"}, method: :delete  do %>
                  <span class="pull-left btn btn-default btn-md" style="margin-right:5px; padding:8px;">
                  </span>
                <% end %>
                <%= task.text %>
                <br>
                <span style="font-size:0.8em;" class="pull-right clearfix"><b>Due:</b> <%= task.created_at.strftime("%m-%d-%Y") %></span>
            <% end %>
              </li>
          </ul>

    </div>
  </div>
</div>
</div>
