/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require tasks
 *= require bootstrap-select
 */

 .dock-it {
   font-family: 'Syncopate', sans-serif;
   color: black !important;
   font-size: 4em !important;
 }

 #navbar-brand {
   font-size: 2em !important;
 }

 a {
   text-decoration: none !important;
 }

.dock-it-font {
  font-family: 'Syncopate', sans-serif;
}

.uppercase {
  text-transform: uppercase !important;
}

#admin-new-message {
  margin-top: 1.9vh;
}
