// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.important {
  margin-right: 10px !important;
}

#assigned-icon, #pending-icon, #inprogress-icon, #notsold-icon, #completed-icon, #closed-icon {
  padding: 1em;
}

#assigned-icon:hover, #pending-icon:hover,
#inprogress-icon:hover, #notsold-icon:hover,
#completed-icon:hover, #closed-icon:hover {
  border: 1px solid black;
}

#to-do-list {
  padding-top: 0px;
  height: 39em;
}

#list-area {
  height: 28.3em;
}

#admin-new-message {
  margin-top: 1.9vh;
}

.folder {
  text-align: center;
}

#test {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
