<!-- SUCCESS FLASH -->
<% if flash[:success] %>
  <div class="container small-container">
    <div class="alert alert-success">
      <%= flash[:success] %>
      <a href="#" class="close" aria-label="close">&times;</a>
    </div>
  </div>
<% end %>
